/* The urls may need to be changed in case of moving the fonts folder */
@font-face {
  font-family: 'devfont';
  src:  url('fonts/devfont.eot?53vdaz');
  src:  url('fonts/devfont.eot?53vdaz#iefix') format('embedded-opentype'),
    url('fonts/devfont.ttf?53vdaz') format('truetype'),
    url('fonts/devfont.woff?53vdaz') format('woff'),
    url('fonts/devfont.svg?53vdaz#devfont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'devfont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dev-a-b:before {
  content: "\e900";
}
.dev-access-point:before {
  content: "\e901";
}
.dev-access-point-off:before {
  content: "\e902";
}
.dev-account-circle:before {
  content: "\e903";
}
.dev-account-square:before {
  content: "\e904";
}
.dev-activity:before {
  content: "\e905";
}
.dev-advertisement:before {
  content: "\e906";
}
.dev-affiliate:before {
  content: "\e907";
}
.dev-airplay:before {
  content: "\e908";
}
.dev-alarm:before {
  content: "\e909";
}
.dev-alarm-warning:before {
  content: "\e90a";
}
.dev-album:before {
  content: "\e90b";
}
.dev-alien:before {
  content: "\e90c";
}
.dev-align-bottom:before {
  content: "\e90d";
}
.dev-align-center-horizontal:before {
  content: "\e90e";
}
.dev-align-center-vertical:before {
  content: "\e90f";
}
.dev-align-left:before {
  content: "\e910";
}
.dev-align-right:before {
  content: "\e911";
}
.dev-align-top:before {
  content: "\e912";
}
.dev-american-football:before {
  content: "\e913";
}
.dev-anchor:before {
  content: "\e914";
}
.dev-anchor-2:before {
  content: "\e915";
}
.dev-anticlockwise:before {
  content: "\e916";
}
.dev-aperture:before {
  content: "\e917";
}
.dev-apps:before {
  content: "\e918";
}
.dev-archive:before {
  content: "\e919";
}
.dev-archive-drawer:before {
  content: "\e91a";
}
.dev-arrow-anticlockwise:before {
  content: "\e91b";
}
.dev-arrow-axe-left-right:before {
  content: "\e91c";
}
.dev-arrow-axe-up-down:before {
  content: "\e91d";
}
.dev-arrow-circle-down:before {
  content: "\e91e";
}
.dev-arrow-circle-down-left:before {
  content: "\e91f";
}
.dev-arrow-circle-down-right:before {
  content: "\e920";
}
.dev-arrow-circle-left:before {
  content: "\e921";
}
.dev-arrow-circle-right:before {
  content: "\e922";
}
.dev-arrow-circle-up:before {
  content: "\e923";
}
.dev-arrow-circle-up-left:before {
  content: "\e924";
}
.dev-arrow-circle-up-right:before {
  content: "\e925";
}
.dev-arrow-clockwise:before {
  content: "\e926";
}
.dev-arrow-down:before {
  content: "\e927";
}
.dev-arrow-down-left:before {
  content: "\e928";
}
.dev-arrow-down-right:before {
  content: "\e929";
}
.dev-arrow-fat-down:before {
  content: "\e92a";
}
.dev-arrow-fat-left:before {
  content: "\e92b";
}
.dev-arrow-fat-lines-down:before {
  content: "\e92c";
}
.dev-arrow-fat-lines-left:before {
  content: "\e92d";
}
.dev-arrow-fat-lines-right:before {
  content: "\e92e";
}
.dev-arrow-fat-lines-up:before {
  content: "\e92f";
}
.dev-arrow-fat-right:before {
  content: "\e930";
}
.dev-arrow-fat-up:before {
  content: "\e931";
}
.dev-arrow-go-back:before {
  content: "\e932";
}
.dev-arrow-go-forward:before {
  content: "\e933";
}
.dev-arrow-join:before {
  content: "\e934";
}
.dev-arrow-left:before {
  content: "\e935";
}
.dev-arrow-loop-left:before {
  content: "\e936";
}
.dev-arrow-loop-right:before {
  content: "\e937";
}
.dev-arrow-ramp-left:before {
  content: "\e938";
}
.dev-arrow-ramp-right:before {
  content: "\e939";
}
.dev-arrow-right:before {
  content: "\e93a";
}
.dev-arrow-split:before {
  content: "\e93b";
}
.dev-arrow-square-down:before {
  content: "\e93c";
}
.dev-arrow-square-down-left:before {
  content: "\e93d";
}
.dev-arrow-square-down-right:before {
  content: "\e93e";
}
.dev-arrow-square-left:before {
  content: "\e93f";
}
.dev-arrow-square-right:before {
  content: "\e940";
}
.dev-arrow-square-up:before {
  content: "\e941";
}
.dev-arrow-square-up-left:before {
  content: "\e942";
}
.dev-arrow-square-up-right:before {
  content: "\e943";
}
.dev-arrow-up:before {
  content: "\e944";
}
.dev-arrow-up-left:before {
  content: "\e945";
}
.dev-arrow-up-right:before {
  content: "\e946";
}
.dev-arrow-zoom-in:before {
  content: "\e947";
}
.dev-arrow-zoom-out:before {
  content: "\e948";
}
.dev-artboard:before {
  content: "\e949";
}
.dev-artboard-2:before {
  content: "\e94a";
}
.dev-article:before {
  content: "\e94b";
}
.dev-aspect-ratio:before {
  content: "\e94c";
}
.dev-asterisk:before {
  content: "\e94d";
}
.dev-atom:before {
  content: "\e94e";
}
.dev-atom-2:before {
  content: "\e94f";
}
.dev-at-sign:before {
  content: "\e950";
}
.dev-attachement:before {
  content: "\e951";
}
.dev-award:before {
  content: "\e952";
}
.dev-ban:before {
  content: "\e953";
}
.dev-bandage:before {
  content: "\e954";
}
.dev-bank:before {
  content: "\e955";
}
.dev-barbell:before {
  content: "\e956";
}
.dev-barcode:before {
  content: "\e957";
}
.dev-barricade:before {
  content: "\e958";
}
.dev-base-station:before {
  content: "\e959";
}
.dev-basketball:before {
  content: "\e95a";
}
.dev-battery-charging:before {
  content: "\e95b";
}
.dev-battery-empty:before {
  content: "\e95c";
}
.dev-battery-full:before {
  content: "\e95d";
}
.dev-battery-low:before {
  content: "\e95e";
}
.dev-battery-medium:before {
  content: "\e95f";
}
.dev-battery-off:before {
  content: "\e960";
}
.dev-battery-warning:before {
  content: "\e961";
}
.dev-bear-smile:before {
  content: "\e962";
}
.dev-bed:before {
  content: "\e963";
}
.dev-bike:before {
  content: "\e964";
}
.dev-bill:before {
  content: "\e965";
}
.dev-blockquote:before {
  content: "\e966";
}
.dev-bluetooth:before {
  content: "\e967";
}
.dev-bluetooth-connected:before {
  content: "\e968";
}
.dev-bluetooth-off:before {
  content: "\e969";
}
.dev-body-scan:before {
  content: "\e96a";
}
.dev-bold:before {
  content: "\e96b";
}
.dev-bone:before {
  content: "\e96c";
}
.dev-book:before {
  content: "\e96d";
}
.dev-book-2:before {
  content: "\e96e";
}
.dev-book-3:before {
  content: "\e96f";
}
.dev-booklet:before {
  content: "\e970";
}
.dev-bookmark:before {
  content: "\e971";
}
.dev-book-mark:before {
  content: "\e972";
}
.dev-book-open:before {
  content: "\e973";
}
.dev-bowling:before {
  content: "\e974";
}
.dev-braces:before {
  content: "\e975";
}
.dev-brackets:before {
  content: "\e976";
}
.dev-briefcase:before {
  content: "\e977";
}
.dev-brightness:before {
  content: "\e978";
}
.dev-broadcast:before {
  content: "\e979";
}
.dev-brush:before {
  content: "\e97a";
}
.dev-bucket:before {
  content: "\e97b";
}
.dev-bug:before {
  content: "\e97c";
}
.dev-building:before {
  content: "\e97d";
}
.dev-building-2:before {
  content: "\e97e";
}
.dev-building-3:before {
  content: "\e97f";
}
.dev-bus:before {
  content: "\e980";
}
.dev-cactus:before {
  content: "\e981";
}
.dev-cake:before {
  content: "\e982";
}
.dev-calculator:before {
  content: "\e983";
}
.dev-calendar:before {
  content: "\e984";
}
.dev-calendar-2:before {
  content: "\e985";
}
.dev-camcorder:before {
  content: "\e986";
}
.dev-camcorder-2:before {
  content: "\e987";
}
.dev-camcorder-off:before {
  content: "\e988";
}
.dev-camcorder-off-2:before {
  content: "\e989";
}
.dev-camera:before {
  content: "\e98a";
}
.dev-camera-off:before {
  content: "\e98b";
}
.dev-capsule:before {
  content: "\e98c";
}
.dev-capture:before {
  content: "\e98d";
}
.dev-car:before {
  content: "\e98e";
}
.dev-caravan:before {
  content: "\e98f";
}
.dev-card-club:before {
  content: "\e990";
}
.dev-card-diamond:before {
  content: "\e991";
}
.dev-card-hear:before {
  content: "\e992";
}
.dev-card-spade:before {
  content: "\e993";
}
.dev-cast:before {
  content: "\e994";
}
.dev-ce:before {
  content: "\e995";
}
.dev-cellphone:before {
  content: "\e996";
}
.dev-celsius:before {
  content: "\e997";
}
.dev-chart-bar:before {
  content: "\e998";
}
.dev-chart-bar-grouped:before {
  content: "\e999";
}
.dev-chart-bubble:before {
  content: "\e99a";
}
.dev-chart-donut:before {
  content: "\e99b";
}
.dev-chart-line:before {
  content: "\e99c";
}
.dev-chart-pie:before {
  content: "\e99d";
}
.dev-chat:before {
  content: "\e99e";
}
.dev-chat-center:before {
  content: "\e99f";
}
.dev-chat-center-dots:before {
  content: "\e9a0";
}
.dev-chat-center-off:before {
  content: "\e9a1";
}
.dev-chat-center-text:before {
  content: "\e9a2";
}
.dev-chat-circle:before {
  content: "\e9a3";
}
.dev-chat-circle-dots:before {
  content: "\e9a4";
}
.dev-chat-circle-off:before {
  content: "\e9a5";
}
.dev-chat-circle-text:before {
  content: "\e9a6";
}
.dev-chat-dots:before {
  content: "\e9a7";
}
.dev-chat-off:before {
  content: "\e9a8";
}
.dev-chats:before {
  content: "\e9a9";
}
.dev-chats-centered:before {
  content: "\e9aa";
}
.dev-chats-circle:before {
  content: "\e9ab";
}
.dev-chat-text:before {
  content: "\e9ac";
}
.dev-check:before {
  content: "\e9ad";
}
.dev-checks:before {
  content: "\e9ae";
}
.dev-chevron-down:before {
  content: "\e9af";
}
.dev-chevron-left:before {
  content: "\e9b0";
}
.dev-chevron-right:before {
  content: "\e9b1";
}
.dev-chevrons-down:before {
  content: "\e9b2";
}
.dev-chevrons-left:before {
  content: "\e9b3";
}
.dev-chevrons-right:before {
  content: "\e9b4";
}
.dev-chevrons-up:before {
  content: "\e9b5";
}
.dev-chevron-up:before {
  content: "\e9b6";
}
.dev-christmas-tree:before {
  content: "\e9b7";
}
.dev-circle:before {
  content: "\e9b8";
}
.dev-circle-alert:before {
  content: "\e9b9";
}
.dev-circle-check:before {
  content: "\e9ba";
}
.dev-circle-dashed:before {
  content: "\e9bb";
}
.dev-circle-dotted:before {
  content: "\e9bc";
}
.dev-circle-forbid:before {
  content: "\e9bd";
}
.dev-circle-info:before {
  content: "\e9be";
}
.dev-circle-minus:before {
  content: "\e9bf";
}
.dev-circle-plus:before {
  content: "\e9c0";
}
.dev-circle-x:before {
  content: "\e9c1";
}
.dev-clipboard:before {
  content: "\e9c2";
}
.dev-clockwise:before {
  content: "\e9c3";
}
.dev-closed-captioning:before {
  content: "\e9c4";
}
.dev-cloud:before {
  content: "\e9c5";
}
.dev-cloud-download:before {
  content: "\e9c6";
}
.dev-cloud-off:before {
  content: "\e9c7";
}
.dev-cloud-upload:before {
  content: "\e9c8";
}
.dev-cloudy:before {
  content: "\e9c9";
}
.dev-cloudy-fog:before {
  content: "\e9ca";
}
.dev-cloudy-lightning:before {
  content: "\e9cb";
}
.dev-cloudy-moon:before {
  content: "\e9cc";
}
.dev-cloudy-rain:before {
  content: "\e9cd";
}
.dev-cloudy-snow:before {
  content: "\e9ce";
}
.dev-cloudy-sun:before {
  content: "\e9cf";
}
.dev-code:before {
  content: "\e9d0";
}
.dev-code-box:before {
  content: "\e9d1";
}
.dev-code-slash:before {
  content: "\e9d2";
}
.dev-coin:before {
  content: "\e9d3";
}
.dev-collage:before {
  content: "\e9d4";
}
.dev-color-picker:before {
  content: "\e9d5";
}
.dev-columns:before {
  content: "\e9d6";
}
.dev-comet:before {
  content: "\e9d7";
}
.dev-command:before {
  content: "\e9d8";
}
.dev-community:before {
  content: "\e9d9";
}
.dev-compass:before {
  content: "\e9da";
}
.dev-compasses:before {
  content: "\e9db";
}
.dev-computer:before {
  content: "\e9dc";
}
.dev-contacts:before {
  content: "\e9dd";
}
.dev-contrast:before {
  content: "\e9de";
}
.dev-copper-coin:before {
  content: "\e9df";
}
.dev-copyleft:before {
  content: "\e9e0";
}
.dev-copyright:before {
  content: "\e9e1";
}
.dev-coupon:before {
  content: "\e9e2";
}
.dev-cpu:before {
  content: "\e9e3";
}
.dev-credit-card:before {
  content: "\e9e4";
}
.dev-criminal:before {
  content: "\e9e5";
}
.dev-crop:before {
  content: "\e9e6";
}
.dev-crown:before {
  content: "\e9e7";
}
.dev-css3:before {
  content: "\e9e8";
}
.dev-cube:before {
  content: "\e9e9";
}
.dev-currency-bitcoin:before {
  content: "\e9ea";
}
.dev-currency-dollar:before {
  content: "\e9eb";
}
.dev-currency-euro:before {
  content: "\e9ec";
}
.dev-currency-pound:before {
  content: "\e9ed";
}
.dev-currency-rupee:before {
  content: "\e9ee";
}
.dev-currency-yen:before {
  content: "\e9ef";
}
.dev-current-location:before {
  content: "\e9f0";
}
.dev-cursor:before {
  content: "\e9f1";
}
.dev-customer-service:before {
  content: "\e9f2";
}
.dev-dashboard:before {
  content: "\e9f3";
}
.dev-database:before {
  content: "\e9f4";
}
.dev-database-2:before {
  content: "\e9f5";
}
.dev-delete-back:before {
  content: "\e9f6";
}
.dev-delete-back-2:before {
  content: "\e9f7";
}
.dev-delete-bin:before {
  content: "\e9f8";
}
.dev-delete-bin-2:before {
  content: "\e9f9";
}
.dev-devices:before {
  content: "\e9fa";
}
.dev-diamond:before {
  content: "\e9fb";
}
.dev-dice-1:before {
  content: "\e9fc";
}
.dev-dice-2:before {
  content: "\e9fd";
}
.dev-dice-3:before {
  content: "\e9fe";
}
.dev-dice-4:before {
  content: "\e9ff";
}
.dev-dice-5:before {
  content: "\ea00";
}
.dev-dice-6:before {
  content: "\ea01";
}
.dev-directions:before {
  content: "\ea02";
}
.dev-disc:before {
  content: "\ea03";
}
.dev-discount:before {
  content: "\ea04";
}
.dev-divide:before {
  content: "\ea05";
}
.dev-donation-coin:before {
  content: "\ea06";
}
.dev-door:before {
  content: "\ea07";
}
.dev-door-lock:before {
  content: "\ea08";
}
.dev-door-open:before {
  content: "\ea09";
}
.dev-dots-horizontal:before {
  content: "\ea0a";
}
.dev-dots-vertical:before {
  content: "\ea0b";
}
.dev-download:before {
  content: "\ea0c";
}
.dev-download-2:before {
  content: "\ea0d";
}
.dev-drag-drop:before {
  content: "\ea0e";
}
.dev-drag-move:before {
  content: "\ea0f";
}
.dev-drone:before {
  content: "\ea10";
}
.dev-drop:before {
  content: "\ea11";
}
.dev-drop-off:before {
  content: "\ea12";
}
.dev-dual-sim-1:before {
  content: "\ea13";
}
.dev-dual-sim-2:before {
  content: "\ea14";
}
.dev-dv:before {
  content: "\ea15";
}
.dev-ear:before {
  content: "\ea16";
}
.dev-earth-east:before {
  content: "\ea17";
}
.dev-earthquake:before {
  content: "\ea18";
}
.dev-earth-west:before {
  content: "\ea19";
}
.dev-edit:before {
  content: "\ea1a";
}
.dev-edit-box:before {
  content: "\ea1b";
}
.dev-edit-circle:before {
  content: "\ea1c";
}
.dev-egg:before {
  content: "\ea1d";
}
.dev-eject:before {
  content: "\ea1e";
}
.dev-empathize:before {
  content: "\ea1f";
}
.dev-emphasis:before {
  content: "\ea20";
}
.dev-equal:before {
  content: "\ea21";
}
.dev-equalizer:before {
  content: "\ea22";
}
.dev-equal-not:before {
  content: "\ea23";
}
.dev-eraser:before {
  content: "\ea24";
}
.dev-esport:before {
  content: "\ea25";
}
.dev-external-link:before {
  content: "\ea26";
}
.dev-eye:before {
  content: "\ea27";
}
.dev-eye-close:before {
  content: "\ea28";
}
.dev-eye-off:before {
  content: "\ea29";
}
.dev-face-confused:before {
  content: "\ea2a";
}
.dev-face-crazy-happy:before {
  content: "\ea2b";
}
.dev-face-crazy-surprised:before {
  content: "\ea2c";
}
.dev-face-cry:before {
  content: "\ea2d";
}
.dev-face-happy:before {
  content: "\ea2e";
}
.dev-face-id:before {
  content: "\ea2f";
}
.dev-face-kid:before {
  content: "\ea30";
}
.dev-face-neutral:before {
  content: "\ea31";
}
.dev-face-sad:before {
  content: "\ea32";
}
.dev-face-smile:before {
  content: "\ea33";
}
.dev-face-surprised:before {
  content: "\ea34";
}
.dev-face-tongue:before {
  content: "\ea35";
}
.dev-fahrenheit:before {
  content: "\ea36";
}
.dev-fall:before {
  content: "\ea37";
}
.dev-fight:before {
  content: "\ea38";
}
.dev-file:before {
  content: "\ea39";
}
.dev-file-chart:before {
  content: "\ea3a";
}
.dev-file-cloud:before {
  content: "\ea3b";
}
.dev-file-code:before {
  content: "\ea3c";
}
.dev-file-copy:before {
  content: "\ea3d";
}
.dev-file-damage:before {
  content: "\ea3e";
}
.dev-file-download:before {
  content: "\ea3f";
}
.dev-file-excel:before {
  content: "\ea40";
}
.dev-file-excel-2:before {
  content: "\ea41";
}
.dev-file-forbid:before {
  content: "\ea42";
}
.dev-file-history:before {
  content: "\ea43";
}
.dev-file-info:before {
  content: "\ea44";
}
.dev-file-list:before {
  content: "\ea45";
}
.dev-file-list-2:before {
  content: "\ea46";
}
.dev-file-lock:before {
  content: "\ea47";
}
.dev-file-mark:before {
  content: "\ea48";
}
.dev-file-minus:before {
  content: "\ea49";
}
.dev-file-paper:before {
  content: "\ea4a";
}
.dev-file-pdf:before {
  content: "\ea4b";
}
.dev-file-plus:before {
  content: "\ea4c";
}
.dev-file-ppt:before {
  content: "\ea4d";
}
.dev-file-ppt-2:before {
  content: "\ea4e";
}
.dev-file-search:before {
  content: "\ea4f";
}
.dev-file-settings:before {
  content: "\ea50";
}
.dev-file-shield:before {
  content: "\ea51";
}
.dev-file-shred:before {
  content: "\ea52";
}
.dev-file-text:before {
  content: "\ea53";
}
.dev-file-unknow:before {
  content: "\ea54";
}
.dev-file-upload:before {
  content: "\ea55";
}
.dev-file-warning:before {
  content: "\ea56";
}
.dev-file-word:before {
  content: "\ea57";
}
.dev-file-word-2:before {
  content: "\ea58";
}
.dev-file-zip:before {
  content: "\ea59";
}
.dev-film:before {
  content: "\ea5a";
}
.dev-filter:before {
  content: "\ea5b";
}
.dev-filter-off:before {
  content: "\ea5c";
}
.dev-fingerprint:before {
  content: "\ea5d";
}
.dev-fire:before {
  content: "\ea5e";
}
.dev-first-aid-kit:before {
  content: "\ea5f";
}
.dev-flag:before {
  content: "\ea60";
}
.dev-flag-2:before {
  content: "\ea61";
}
.dev-flame:before {
  content: "\ea62";
}
.dev-flashlight:before {
  content: "\ea63";
}
.dev-flask:before {
  content: "\ea64";
}
.dev-flip-horizontal:before {
  content: "\ea65";
}
.dev-flip-vertical:before {
  content: "\ea66";
}
.dev-float-center:before {
  content: "\ea67";
}
.dev-float-left:before {
  content: "\ea68";
}
.dev-float-none:before {
  content: "\ea69";
}
.dev-float-right:before {
  content: "\ea6a";
}
.dev-flood:before {
  content: "\ea6b";
}
.dev-flow-chart:before {
  content: "\ea6c";
}
.dev-focus:before {
  content: "\ea6d";
}
.dev-focus-2:before {
  content: "\ea6e";
}
.dev-focus-3:before {
  content: "\ea6f";
}
.dev-folder:before {
  content: "\ea70";
}
.dev-folder-chart:before {
  content: "\ea71";
}
.dev-folder-download:before {
  content: "\ea72";
}
.dev-folder-forbid:before {
  content: "\ea73";
}
.dev-folder-history:before {
  content: "\ea74";
}
.dev-folder-info:before {
  content: "\ea75";
}
.dev-folder-keyhole:before {
  content: "\ea76";
}
.dev-folder-lock:before {
  content: "\ea77";
}
.dev-folder-minus:before {
  content: "\ea78";
}
.dev-folder-open:before {
  content: "\ea79";
}
.dev-folder-plus:before {
  content: "\ea7a";
}
.dev-folder-received:before {
  content: "\ea7b";
}
.dev-folders:before {
  content: "\ea7c";
}
.dev-folder-settings:before {
  content: "\ea7d";
}
.dev-folder-shared:before {
  content: "\ea7e";
}
.dev-folder-shield:before {
  content: "\ea7f";
}
.dev-folder-unknow:before {
  content: "\ea80";
}
.dev-folder-upload:before {
  content: "\ea81";
}
.dev-folder-warning:before {
  content: "\ea82";
}
.dev-folder-zip:before {
  content: "\ea83";
}
.dev-font-color:before {
  content: "\ea84";
}
.dev-font-size:before {
  content: "\ea85";
}
.dev-football:before {
  content: "\ea86";
}
.dev-format-clear:before {
  content: "\ea87";
}
.dev-frame:before {
  content: "\ea88";
}
.dev-fridge:before {
  content: "\ea89";
}
.dev-fullscreen:before {
  content: "\ea8a";
}
.dev-fullscreen-exit:before {
  content: "\ea8b";
}
.dev-function:before {
  content: "\ea8c";
}
.dev-gallery:before {
  content: "\ea8d";
}
.dev-gamepad:before {
  content: "\ea8e";
}
.dev-gas-station:before {
  content: "\ea8f";
}
.dev-genderless:before {
  content: "\ea90";
}
.dev-ghost:before {
  content: "\ea91";
}
.dev-gift:before {
  content: "\ea92";
}
.dev-git-branch:before {
  content: "\ea93";
}
.dev-git-commit:before {
  content: "\ea94";
}
.dev-git-fork:before {
  content: "\ea95";
}
.dev-git-merge:before {
  content: "\ea96";
}
.dev-git-pull-request:before {
  content: "\ea97";
}
.dev-glass:before {
  content: "\ea98";
}
.dev-glass-full:before {
  content: "\ea99";
}
.dev-global:before {
  content: "\ea9a";
}
.dev-globe:before {
  content: "\ea9b";
}
.dev-goblet:before {
  content: "\ea9c";
}
.dev-government:before {
  content: "\ea9d";
}
.dev-gps:before {
  content: "\ea9e";
}
.dev-gradienter:before {
  content: "\ea9f";
}
.dev-grid:before {
  content: "\eaa0";
}
.dev-grid-dots:before {
  content: "\eaa1";
}
.dev-grip-horizontal:before {
  content: "\eaa2";
}
.dev-grip-vertical:before {
  content: "\eaa3";
}
.dev-group:before {
  content: "\eaa4";
}
.dev-h1:before {
  content: "\eaa5";
}
.dev-h2:before {
  content: "\eaa6";
}
.dev-h3:before {
  content: "\eaa7";
}
.dev-h4:before {
  content: "\eaa8";
}
.dev-h5:before {
  content: "\eaa9";
}
.dev-h6:before {
  content: "\eaaa";
}
.dev-hammer:before {
  content: "\eaab";
}
.dev-hand:before {
  content: "\eaac";
}
.dev-hand-fist:before {
  content: "\eaad";
}
.dev-handisport:before {
  content: "\eaae";
}
.dev-hand-paml:before {
  content: "\eaaf";
}
.dev-hand-pointing:before {
  content: "\eab0";
}
.dev-hand-sanitizer:before {
  content: "\eab1";
}
.dev-handshake:before {
  content: "\eab2";
}
.dev-hand-waving:before {
  content: "\eab3";
}
.dev-hard-drive:before {
  content: "\eab4";
}
.dev-hard-drive-2:before {
  content: "\eab5";
}
.dev-hashtag:before {
  content: "\eab6";
}
.dev-hd:before {
  content: "\eab7";
}
.dev-heading:before {
  content: "\eab8";
}
.dev-headphone:before {
  content: "\eab9";
}
.dev-headphone-off:before {
  content: "\eaba";
}
.dev-health-book:before {
  content: "\eabb";
}
.dev-health-clipboard:before {
  content: "\eabc";
}
.dev-heart:before {
  content: "\eabd";
}
.dev-heart-2:before {
  content: "\eabe";
}
.dev-heart-broken:before {
  content: "\eabf";
}
.dev-heart-plus:before {
  content: "\eac0";
}
.dev-hearts:before {
  content: "\eac1";
}
.dev-helicopter:before {
  content: "\eac2";
}
.dev-hexagon:before {
  content: "\eac3";
}
.dev-hexagon-alert:before {
  content: "\eac4";
}
.dev-hexagon-info:before {
  content: "\eac5";
}
.dev-hexagon-x:before {
  content: "\eac6";
}
.dev-history:before {
  content: "\eac7";
}
.dev-home:before {
  content: "\eac8";
}
.dev-home-2:before {
  content: "\eac9";
}
.dev-home-3:before {
  content: "\eaca";
}
.dev-honor:before {
  content: "\eacb";
}
.dev-horse:before {
  content: "\eacc";
}
.dev-hospital:before {
  content: "\eacd";
}
.dev-hotel:before {
  content: "\eace";
}
.dev-hotspot:before {
  content: "\eacf";
}
.dev-hourglass:before {
  content: "\ead0";
}
.dev-hq:before {
  content: "\ead1";
}
.dev-html5:before {
  content: "\ead2";
}
.dev-ice-cream:before {
  content: "\ead3";
}
.dev-image:before {
  content: "\ead4";
}
.dev-inbox:before {
  content: "\ead5";
}
.dev-inbox-archive:before {
  content: "\ead6";
}
.dev-inbox-unarchive:before {
  content: "\ead7";
}
.dev-indent-decrease:before {
  content: "\ead8";
}
.dev-indent-increase:before {
  content: "\ead9";
}
.dev-infinity:before {
  content: "\eada";
}
.dev-infrared-thermometer:before {
  content: "\eadb";
}
.dev-ink-bottle:before {
  content: "\eadc";
}
.dev-input-cursor-move:before {
  content: "\eadd";
}
.dev-input-method:before {
  content: "\eade";
}
.dev-install:before {
  content: "\eadf";
}
.dev-italic:before {
  content: "\eae0";
}
.dev-key:before {
  content: "\eae1";
}
.dev-key-2:before {
  content: "\eae2";
}
.dev-keyboard:before {
  content: "\eae3";
}
.dev-keyboard-2:before {
  content: "\eae4";
}
.dev-keynote:before {
  content: "\eae5";
}
.dev-landscape:before {
  content: "\eae6";
}
.dev-laptop:before {
  content: "\eae7";
}
.dev-latitude:before {
  content: "\eae8";
}
.dev-layers-difference:before {
  content: "\eae9";
}
.dev-layers-intersect:before {
  content: "\eaea";
}
.dev-layers-substract:before {
  content: "\eaeb";
}
.dev-layers-union:before {
  content: "\eaec";
}
.dev-layout:before {
  content: "\eaed";
}
.dev-layout-2:before {
  content: "\eaee";
}
.dev-layout-bottom:before {
  content: "\eaef";
}
.dev-layout-bottom-2:before {
  content: "\eaf0";
}
.dev-layout-column:before {
  content: "\eaf1";
}
.dev-layout-grid:before {
  content: "\eaf2";
}
.dev-layout-left:before {
  content: "\eaf3";
}
.dev-layout-left-2:before {
  content: "\eaf4";
}
.dev-layout-masonry:before {
  content: "\eaf5";
}
.dev-layout-right:before {
  content: "\eaf6";
}
.dev-layout-right-2:before {
  content: "\eaf7";
}
.dev-layout-row:before {
  content: "\eaf8";
}
.dev-layout-table:before {
  content: "\eaf9";
}
.dev-layout-table-2:before {
  content: "\eafa";
}
.dev-layout-top:before {
  content: "\eafb";
}
.dev-layout-top-2:before {
  content: "\eafc";
}
.dev-leaf:before {
  content: "\eafd";
}
.dev-lifebuoy:before {
  content: "\eafe";
}
.dev-lightbulb-off:before {
  content: "\eaff";
}
.dev-lightbuld:before {
  content: "\eb00";
}
.dev-lightning:before {
  content: "\eb01";
}
.dev-lightning-off:before {
  content: "\eb02";
}
.dev-line:before {
  content: "\eb03";
}
.dev-line-height:before {
  content: "\eb04";
}
.dev-link:before {
  content: "\eb05";
}
.dev-list-check:before {
  content: "\eb06";
}
.dev-list-settings:before {
  content: "\eb07";
}
.dev-live-photo:before {
  content: "\eb08";
}
.dev-loader:before {
  content: "\eb09";
}
.dev-loader-quater:before {
  content: "\eb0a";
}
.dev-lock:before {
  content: "\eb0b";
}
.dev-lock-password:before {
  content: "\eb0c";
}
.dev-login:before {
  content: "\eb0d";
}
.dev-login-2:before {
  content: "\eb0e";
}
.dev-logout:before {
  content: "\eb0f";
}
.dev-logout-2:before {
  content: "\eb10";
}
.dev-longitude:before {
  content: "\eb11";
}
.dev-lotus:before {
  content: "\eb12";
}
.dev-luggage-cart:before {
  content: "\eb13";
}
.dev-luggage-deposit:before {
  content: "\eb14";
}
.dev-magnet:before {
  content: "\eb15";
}
.dev-mail:before {
  content: "\eb16";
}
.dev-mail-check:before {
  content: "\eb17";
}
.dev-mail-download:before {
  content: "\eb18";
}
.dev-mail-forbid:before {
  content: "\eb19";
}
.dev-mail-lock:before {
  content: "\eb1a";
}
.dev-mail-open:before {
  content: "\eb1b";
}
.dev-mail-plus:before {
  content: "\eb1c";
}
.dev-mail-send:before {
  content: "\eb1d";
}
.dev-mail-settings:before {
  content: "\eb1e";
}
.dev-mail-unread:before {
  content: "\eb1f";
}
.dev-mail-x:before {
  content: "\eb20";
}
.dev-manual-gearbox:before {
  content: "\eb21";
}
.dev-map:before {
  content: "\eb22";
}
.dev-map-2:before {
  content: "\eb23";
}
.dev-map-pin:before {
  content: "\eb24";
}
.dev-map-pin-off:before {
  content: "\eb25";
}
.dev-map-pin-plus:before {
  content: "\eb26";
}
.dev-markdown:before {
  content: "\eb27";
}
.dev-math-function:before {
  content: "\eb28";
}
.dev-math-symbols:before {
  content: "\eb29";
}
.dev-medical-cross:before {
  content: "\eb2a";
}
.dev-medical-cross-2:before {
  content: "\eb2b";
}
.dev-medicine-bottle:before {
  content: "\eb2c";
}
.dev-men:before {
  content: "\eb2d";
}
.dev-menu:before {
  content: "\eb2e";
}
.dev-menu-2:before {
  content: "\eb2f";
}
.dev-menu-3:before {
  content: "\eb30";
}
.dev-menu-fold:before {
  content: "\eb31";
}
.dev-menu-plus:before {
  content: "\eb32";
}
.dev-menu-unfold:before {
  content: "\eb33";
}
.dev-meteor:before {
  content: "\eb34";
}
.dev-mic:before {
  content: "\eb35";
}
.dev-mickey:before {
  content: "\eb36";
}
.dev-mic-off:before {
  content: "\eb37";
}
.dev-microscope:before {
  content: "\eb38";
}
.dev-mind-map:before {
  content: "\eb39";
}
.dev-minus:before {
  content: "\eb3a";
}
.dev-mist:before {
  content: "\eb3b";
}
.dev-money:before {
  content: "\eb3c";
}
.dev-moon:before {
  content: "\eb3d";
}
.dev-moon-stars:before {
  content: "\eb3e";
}
.dev-motorbike:before {
  content: "\eb3f";
}
.dev-mouse:before {
  content: "\eb40";
}
.dev-mouse-2:before {
  content: "\eb41";
}
.dev-movie:before {
  content: "\eb42";
}
.dev-mug:before {
  content: "\eb43";
}
.dev-music:before {
  content: "\eb44";
}
.dev-music-2:before {
  content: "\eb45";
}
.dev-navigation:before {
  content: "\eb46";
}
.dev-navigation-2:before {
  content: "\eb47";
}
.dev-newspaper:before {
  content: "\eb48";
}
.dev-node-tree:before {
  content: "\eb49";
}
.dev-notification:before {
  content: "\eb4a";
}
.dev-notification-badge:before {
  content: "\eb4b";
}
.dev-notification-off:before {
  content: "\eb4c";
}
.dev-number-0:before {
  content: "\eb4d";
}
.dev-number-1:before {
  content: "\eb4e";
}
.dev-number-2:before {
  content: "\eb4f";
}
.dev-number-3:before {
  content: "\eb50";
}
.dev-number-4:before {
  content: "\eb51";
}
.dev-number-5:before {
  content: "\eb52";
}
.dev-number-6:before {
  content: "\eb53";
}
.dev-number-7:before {
  content: "\eb54";
}
.dev-number-8:before {
  content: "\eb55";
}
.dev-number-9:before {
  content: "\eb56";
}
.dev-numbers:before {
  content: "\eb57";
}
.dev-nurse:before {
  content: "\eb58";
}
.dev-octagon:before {
  content: "\eb59";
}
.dev-octagon-alert:before {
  content: "\eb5a";
}
.dev-octagon-info:before {
  content: "\eb5b";
}
.dev-octagon-x:before {
  content: "\eb5c";
}
.dev-oil:before {
  content: "\eb5d";
}
.dev-omega:before {
  content: "\eb5e";
}
.dev-open-arm:before {
  content: "\eb5f";
}
.dev-order-play:before {
  content: "\eb60";
}
.dev-organization-chart:before {
  content: "\eb61";
}
.dev-outlet:before {
  content: "\eb62";
}
.dev-package:before {
  content: "\eb63";
}
.dev-pacman:before {
  content: "\eb64";
}
.dev-pages:before {
  content: "\eb65";
}
.dev-page-separator:before {
  content: "\eb66";
}
.dev-paint-brush:before {
  content: "\eb67";
}
.dev-pantone:before {
  content: "\eb68";
}
.dev-paperclip:before {
  content: "\eb69";
}
.dev-parachute:before {
  content: "\eb6a";
}
.dev-paragraph:before {
  content: "\eb6b";
}
.dev-parent:before {
  content: "\eb6c";
}
.dev-parentheses:before {
  content: "\eb6d";
}
.dev-parking:before {
  content: "\eb6e";
}
.dev-parking-box:before {
  content: "\eb6f";
}
.dev-passport:before {
  content: "\eb70";
}
.dev-path:before {
  content: "\eb71";
}
.dev-pause:before {
  content: "\eb72";
}
.dev-pavilion:before {
  content: "\eb73";
}
.dev-peace:before {
  content: "\eb74";
}
.dev-pedestrian:before {
  content: "\eb75";
}
.dev-pencil:before {
  content: "\eb76";
}
.dev-pencil-circle:before {
  content: "\eb77";
}
.dev-pencil-ruler:before {
  content: "\eb78";
}
.dev-pen-nib:before {
  content: "\eb79";
}
.dev-percentage:before {
  content: "\eb7a";
}
.dev-phone:before {
  content: "\eb7b";
}
.dev-phone-call:before {
  content: "\eb7c";
}
.dev-phone-camera:before {
  content: "\eb7d";
}
.dev-phone-incoming:before {
  content: "\eb7e";
}
.dev-phone-lock:before {
  content: "\eb7f";
}
.dev-phone-off:before {
  content: "\eb80";
}
.dev-phone-outgoing:before {
  content: "\eb81";
}
.dev-phone-search:before {
  content: "\eb82";
}
.dev-picture-in-picture:before {
  content: "\eb83";
}
.dev-pin-distance:before {
  content: "\eb84";
}
.dev-ping-pong:before {
  content: "\eb85";
}
.dev-plane:before {
  content: "\eb86";
}
.dev-plane-arrival:before {
  content: "\eb87";
}
.dev-plane-departure:before {
  content: "\eb88";
}
.dev-planet:before {
  content: "\eb89";
}
.dev-plant:before {
  content: "\eb8a";
}
.dev-play:before {
  content: "\eb8b";
}
.dev-playlist:before {
  content: "\eb8c";
}
.dev-playlist-plus:before {
  content: "\eb8d";
}
.dev-plug:before {
  content: "\eb8e";
}
.dev-plus:before {
  content: "\eb8f";
}
.dev-poker:before {
  content: "\eb90";
}
.dev-polaroid:before {
  content: "\eb91";
}
.dev-police-car:before {
  content: "\eb92";
}
.dev-pray:before {
  content: "\eb93";
}
.dev-price-tag:before {
  content: "\eb94";
}
.dev-printer:before {
  content: "\eb95";
}
.dev-profile:before {
  content: "\eb96";
}
.dev-projector:before {
  content: "\eb97";
}
.dev-projector-2:before {
  content: "\eb98";
}
.dev-pushpin:before {
  content: "\eb99";
}
.dev-pushpin-off:before {
  content: "\eb9a";
}
.dev-puzzle:before {
  content: "\eb9b";
}
.dev-qr-code:before {
  content: "\eb9c";
}
.dev-qr-scan:before {
  content: "\eb9d";
}
.dev-question-mark:before {
  content: "\eb9e";
}
.dev-quill-pen:before {
  content: "\eb9f";
}
.dev-radar:before {
  content: "\eba0";
}
.dev-radio:before {
  content: "\eba1";
}
.dev-radioactive:before {
  content: "\eba2";
}
.dev-rainbow:before {
  content: "\eba3";
}
.dev-receip:before {
  content: "\eba4";
}
.dev-recycle:before {
  content: "\eba5";
}
.dev-refresh:before {
  content: "\eba6";
}
.dev-registered:before {
  content: "\eba7";
}
.dev-remote-control:before {
  content: "\eba8";
}
.dev-repeat:before {
  content: "\eba9";
}
.dev-restart:before {
  content: "\ebaa";
}
.dev-restaurant:before {
  content: "\ebab";
}
.dev-rest-time:before {
  content: "\ebac";
}
.dev-rewind:before {
  content: "\ebad";
}
.dev-rhythm:before {
  content: "\ebae";
}
.dev-riding:before {
  content: "\ebaf";
}
.dev-ripple:before {
  content: "\ebb0";
}
.dev-robot:before {
  content: "\ebb1";
}
.dev-rocket:before {
  content: "\ebb2";
}
.dev-rocket-launch:before {
  content: "\ebb3";
}
.dev-rotate-lock:before {
  content: "\ebb4";
}
.dev-route:before {
  content: "\ebb5";
}
.dev-router:before {
  content: "\ebb6";
}
.dev-rows:before {
  content: "\ebb7";
}
.dev-rss:before {
  content: "\ebb8";
}
.dev-ruler:before {
  content: "\ebb9";
}
.dev-ruler-2:before {
  content: "\ebba";
}
.dev-run:before {
  content: "\ebbb";
}
.dev-sailbot:before {
  content: "\ebbc";
}
.dev-save:before {
  content: "\ebbd";
}
.dev-scan:before {
  content: "\ebbe";
}
.dev-school:before {
  content: "\ebbf";
}
.dev-scissors:before {
  content: "\ebc0";
}
.dev-scissors-2:before {
  content: "\ebc1";
}
.dev-screenshot:before {
  content: "\ebc2";
}
.dev-screenshot-2:before {
  content: "\ebc3";
}
.dev-sd-card:before {
  content: "\ebc4";
}
.dev-sd-card-mini:before {
  content: "\ebc5";
}
.dev-search:before {
  content: "\ebc6";
}
.dev-search-off:before {
  content: "\ebc7";
}
.dev-seeding:before {
  content: "\ebc8";
}
.dev-send-plane:before {
  content: "\ebc9";
}
.dev-sensor:before {
  content: "\ebca";
}
.dev-separator:before {
  content: "\ebcb";
}
.dev-server:before {
  content: "\ebcc";
}
.dev-settings:before {
  content: "\ebcd";
}
.dev-shadow:before {
  content: "\ebce";
}
.dev-shape:before {
  content: "\ebcf";
}
.dev-share:before {
  content: "\ebd0";
}
.dev-share-box:before {
  content: "\ebd1";
}
.dev-share-screen:before {
  content: "\ebd2";
}
.dev-share-screen-off:before {
  content: "\ebd3";
}
.dev-shield:before {
  content: "\ebd4";
}
.dev-shield-check:before {
  content: "\ebd5";
}
.dev-shield-off:before {
  content: "\ebd6";
}
.dev-ship:before {
  content: "\ebd7";
}
.dev-shopping-bag:before {
  content: "\ebd8";
}
.dev-shopping-basket:before {
  content: "\ebd9";
}
.dev-shopping-cart:before {
  content: "\ebda";
}
.dev-shuffle:before {
  content: "\ebdb";
}
.dev-shut-down:before {
  content: "\ebdc";
}
.dev-sigma:before {
  content: "\ebdd";
}
.dev-sim-card:before {
  content: "\ebde";
}
.dev-skip-back:before {
  content: "\ebdf";
}
.dev-skip-forward:before {
  content: "\ebe0";
}
.dev-skull:before {
  content: "\ebe1";
}
.dev-slice:before {
  content: "\ebe2";
}
.dev-slideshow:before {
  content: "\ebe3";
}
.dev-smartphone:before {
  content: "\ebe4";
}
.dev-smoking:before {
  content: "\ebe5";
}
.dev-smoking-off:before {
  content: "\ebe6";
}
.dev-snowflake:before {
  content: "\ebe7";
}
.dev-social:before {
  content: "\ebe8";
}
.dev-sort-asc:before {
  content: "\ebe9";
}
.dev-sort-desc:before {
  content: "\ebea";
}
.dev-sound-module:before {
  content: "\ebeb";
}
.dev-space:before {
  content: "\ebec";
}
.dev-speaker:before {
  content: "\ebed";
}
.dev-speakerphone:before {
  content: "\ebee";
}
.dev-speakerphone-off:before {
  content: "\ebef";
}
.dev-speed:before {
  content: "\ebf0";
}
.dev-spy:before {
  content: "\ebf1";
}
.dev-square:before {
  content: "\ebf2";
}
.dev-square-alert:before {
  content: "\ebf3";
}
.dev-square-check:before {
  content: "\ebf4";
}
.dev-square-forbid:before {
  content: "\ebf5";
}
.dev-square-info:before {
  content: "\ebf6";
}
.dev-square-minus:before {
  content: "\ebf7";
}
.dev-square-plus:before {
  content: "\ebf8";
}
.dev-square-root:before {
  content: "\ebf9";
}
.dev-square-root-x:before {
  content: "\ebfa";
}
.dev-squares:before {
  content: "\ebfb";
}
.dev-squares-check:before {
  content: "\ebfc";
}
.dev-square-x:before {
  content: "\ebfd";
}
.dev-stack:before {
  content: "\ebfe";
}
.dev-stairs:before {
  content: "\ebff";
}
.dev-stairs-down:before {
  content: "\ec00";
}
.dev-stairs-up:before {
  content: "\ec01";
}
.dev-star:before {
  content: "\ec02";
}
.dev-star-half:before {
  content: "\ec03";
}
.dev-steering:before {
  content: "\ec04";
}
.dev-steering-2:before {
  content: "\ec05";
}
.dev-stethoscope:before {
  content: "\ec06";
}
.dev-sticky-note:before {
  content: "\ec07";
}
.dev-stock:before {
  content: "\ec08";
}
.dev-stop:before {
  content: "\ec09";
}
.dev-store:before {
  content: "\ec0a";
}
.dev-store-2:before {
  content: "\ec0b";
}
.dev-strikethrough:before {
  content: "\ec0c";
}
.dev-subscript:before {
  content: "\ec0d";
}
.dev-subway:before {
  content: "\ec0e";
}
.dev-suitcase:before {
  content: "\ec0f";
}
.dev-suitcase-2:before {
  content: "\ec10";
}
.dev-sun:before {
  content: "\ec11";
}
.dev-sun-horizon:before {
  content: "\ec12";
}
.dev-sun-off:before {
  content: "\ec13";
}
.dev-sunrise:before {
  content: "\ec14";
}
.dev-sunset:before {
  content: "\ec15";
}
.dev-superscript:before {
  content: "\ec16";
}
.dev-surgical-mask:before {
  content: "\ec17";
}
.dev-surgical-mask-off:before {
  content: "\ec18";
}
.dev-surround-sound:before {
  content: "\ec19";
}
.dev-survey:before {
  content: "\ec1a";
}
.dev-swimming:before {
  content: "\ec1b";
}
.dev-sword:before {
  content: "\ec1c";
}
.dev-table:before {
  content: "\ec1d";
}
.dev-tablet:before {
  content: "\ec1e";
}
.dev-tape:before {
  content: "\ec1f";
}
.dev-taxi:before {
  content: "\ec20";
}
.dev-t-box:before {
  content: "\ec21";
}
.dev-team:before {
  content: "\ec22";
}
.dev-temp-cold:before {
  content: "\ec23";
}
.dev-temp-hot:before {
  content: "\ec24";
}
.dev-temp-tepid:before {
  content: "\ec25";
}
.dev-tennis:before {
  content: "\ec26";
}
.dev-tent:before {
  content: "\ec27";
}
.dev-terminal:before {
  content: "\ec28";
}
.dev-terminal-box:before {
  content: "\ec29";
}
.dev-terminal-window:before {
  content: "\ec2a";
}
.dev-test-tube:before {
  content: "\ec2b";
}
.dev-text:before {
  content: "\ec2c";
}
.dev-text-align-center:before {
  content: "\ec2d";
}
.dev-text-align-justify:before {
  content: "\ec2e";
}
.dev-text-align-left:before {
  content: "\ec2f";
}
.dev-text-align-right:before {
  content: "\ec30";
}
.dev-text-direction-right:before {
  content: "\ec31";
}
.dev-text-directon-left:before {
  content: "\ec32";
}
.dev-text-spacing:before {
  content: "\ec33";
}
.dev-text-wrap:before {
  content: "\ec34";
}
.dev-thermometer:before {
  content: "\ec35";
}
.dev-thumb-down:before {
  content: "\ec36";
}
.dev-thumb-up:before {
  content: "\ec37";
}
.dev-ticket:before {
  content: "\ec38";
}
.dev-time:before {
  content: "\ec39";
}
.dev-timer:before {
  content: "\ec3a";
}
.dev-todo:before {
  content: "\ec3b";
}
.dev-toggle-left:before {
  content: "\ec3c";
}
.dev-toggle-right:before {
  content: "\ec3d";
}
.dev-tool:before {
  content: "\ec3e";
}
.dev-tornado:before {
  content: "\ec3f";
}
.dev-trademark:before {
  content: "\ec40";
}
.dev-traffic-light:before {
  content: "\ec41";
}
.dev-train:before {
  content: "\ec42";
}
.dev-translate:before {
  content: "\ec43";
}
.dev-travesti:before {
  content: "\ec44";
}
.dev-treasure-map:before {
  content: "\ec45";
}
.dev-trees:before {
  content: "\ec46";
}
.dev-trending-down:before {
  content: "\ec47";
}
.dev-trending-up:before {
  content: "\ec48";
}
.dev-triangle:before {
  content: "\ec49";
}
.dev-triangle-alert:before {
  content: "\ec4a";
}
.dev-trophy:before {
  content: "\ec4b";
}
.dev-truck:before {
  content: "\ec4c";
}
.dev-t-shirt:before {
  content: "\ec4d";
}
.dev-t-shirt-2:before {
  content: "\ec4e";
}
.dev-tv:before {
  content: "\ec4f";
}
.dev-u-disk:before {
  content: "\ec50";
}
.dev-uhd:before {
  content: "\ec51";
}
.dev-umbrella:before {
  content: "\ec52";
}
.dev-underline:before {
  content: "\ec53";
}
.dev-uninstall:before {
  content: "\ec54";
}
.dev-unlink:before {
  content: "\ec55";
}
.dev-unlock:before {
  content: "\ec56";
}
.dev-unlock-password:before {
  content: "\ec57";
}
.dev-upload:before {
  content: "\ec58";
}
.dev-upload-2:before {
  content: "\ec59";
}
.dev-user:before {
  content: "\ec5a";
}
.dev-user-2:before {
  content: "\ec5b";
}
.dev-user-3:before {
  content: "\ec5c";
}
.dev-user-check:before {
  content: "\ec5d";
}
.dev-user-heart:before {
  content: "\ec5e";
}
.dev-user-location:before {
  content: "\ec5f";
}
.dev-user-lock:before {
  content: "\ec60";
}
.dev-user-plus:before {
  content: "\ec61";
}
.dev-user-received:before {
  content: "\ec62";
}
.dev-user-search:before {
  content: "\ec63";
}
.dev-user-settings:before {
  content: "\ec64";
}
.dev-user-shared:before {
  content: "\ec65";
}
.dev-user-voice:before {
  content: "\ec66";
}
.dev-user-x:before {
  content: "\ec67";
}
.dev-variable:before {
  content: "\ec68";
}
.dev-vector:before {
  content: "\ec69";
}
.dev-vector-beizer:before {
  content: "\ec6a";
}
.dev-vector-beizer-2:before {
  content: "\ec6b";
}
.dev-vector-triangle:before {
  content: "\ec6c";
}
.dev-view-360:before {
  content: "\ec6d";
}
.dev-vip:before {
  content: "\ec6e";
}
.dev-virus:before {
  content: "\ec6f";
}
.dev-virus-off:before {
  content: "\ec70";
}
.dev-voice-mail:before {
  content: "\ec71";
}
.dev-voiceprint:before {
  content: "\ec72";
}
.dev-voleyball:before {
  content: "\ec73";
}
.dev-volume-down:before {
  content: "\ec74";
}
.dev-volume-mute:before {
  content: "\ec75";
}
.dev-volume-up:before {
  content: "\ec76";
}
.dev-volume-vibrate:before {
  content: "\ec77";
}
.dev-wallet:before {
  content: "\ec78";
}
.dev-wand:before {
  content: "\ec79";
}
.dev-watch:before {
  content: "\ec7a";
}
.dev-webcam:before {
  content: "\ec7b";
}
.dev-wheelchair:before {
  content: "\ec7c";
}
.dev-wifi:before {
  content: "\ec7d";
}
.dev-wifi-off:before {
  content: "\ec7e";
}
.dev-wind:before {
  content: "\ec7f";
}
.dev-windmill:before {
  content: "\ec80";
}
.dev-window:before {
  content: "\ec81";
}
.dev-women:before {
  content: "\ec82";
}
.dev-x:before {
  content: "\ec83";
}
.dev-zodiac-aquarius:before {
  content: "\ec84";
}
.dev-zodiac-aries:before {
  content: "\ec85";
}
.dev-zodiac-cancer:before {
  content: "\ec86";
}
.dev-zodiac-capricorn:before {
  content: "\ec87";
}
.dev-zodiac-gemini:before {
  content: "\ec88";
}
.dev-zodiac-leo:before {
  content: "\ec89";
}
.dev-zodiac-libra:before {
  content: "\ec8a";
}
.dev-zodiac-pisces:before {
  content: "\ec8b";
}
.dev-zodiac-sagittarius:before {
  content: "\ec8c";
}
.dev-zodiac-scorpio:before {
  content: "\ec8d";
}
.dev-zodiac-taurus:before {
  content: "\ec8e";
}
.dev-zodiac-virgo:before {
  content: "\ec8f";
}
.dev-zoom-in:before {
  content: "\ec90";
}
.dev-zoom-out:before {
  content: "\ec91";
}
.dev-zzz:before {
  content: "\ec92";
}
